<!DOCTYPE html>

<head>
	<title> BookHouse </title>
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/30fa63ee-79f7-42c9-992a-f7f5bdcabbf4%2Fthumbnails%2Ficon.png?1511284247590" type="image/x-icon">  
  <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
	<meta name="description" content="Rob's Portfolio Page">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  	<link  rel="stylesheet" href="/style.css" >
	</head>
	<nav>
		<a href = "/"><span class = "credButs2 menuButs">
			BookHouse
		</span></a>
		<span onclick = 'login()' class = "credButs menuButs">
			Login
		</span>
		<span class = "credButs menuButs">
			Register
		</span>
	</nav>
	<body>
		<center>
		<div id = "main">
			<span class = "glyphicon glyphicon-eye-open mainLog"></span><br/>
			<h1 class = "white">BookHouse</h1>
			<h3 class = "white">Learn, Share, Trade</h3>
		</div>
	
		<footer>
			<div class = "quote">
			“Do not read, as children do, to amuse yourself, or like the ambitious, for the purpose of instruction. No, read in order to live.” 
			</div>
		</footer>
	</center>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src = "/client.js"></script>s

	</body>