nav{
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 60px;
    font-size: 15px;
   background-color: #4c4d4f;
}
header{
	height: 150px;
}
li{
  list-style-type: none;
}
#main{
  padding: 20px;
	width: 100%;
	min-height: 60vh;
	background-color: #5170a0;
}
.menuButs{
	color: white;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
	font-size: 25px;
	cursor: pointer;
}
.credButs{
	float: right;
}
.credButs2{
	float: left;
}
.alert{
  background-color: #5170a0;
  color: red;
}
.log{
	font-size: 25px;
	color: white;
}
.mainLog{
	font-size: 150px;
	color: white;
	}
.white{
	color: white;
}
.quote{
	color: #9fa4ad;
	font-size: 30px;
	width: 75%;
	font-family: 'Spectral SC', serif;
}
.loginText{
	color: white;
	font-size: 25px;
	font-family: 'Spectral SC', serif;
}
.loginInput{
	padding: 5px 15px 5px 15px;
	border-radius: 10px;
	outline: none;

}
.loginButton{
	padding: 10px;
	border: 0px;
	margin-right: .25%;
	margin-left: .25%;
	width: 100px;
	border-radius: 8px;
	color: white;
	background-color: #4c4d4f;
}
.login{
	padding: 10px;
}


#dashMain{
  margin-top: 3%;
  min-height: 70vh;
}
#bookDisplay{
  margin-top: 2%;
  border: 1px solid grey;
  height: 50vh;
  width: 80%;
}
#myBooks{
border: 2px solid black;
background-color: white;
position: fixed;
z-index: 1;
display: none;
height: 80vh;
width: 80vw;
margin-left: 10%
}
.welcomeUser{
  margin-left: 5%;
  font-size: 30px;
  font-family: 'Spectral SC', serif;
}
.dashFooter{
  height: 20vh;
  background-color: #5170a0;
}
.previousBtn{
  margin-left: 10%;
  font-size: 25px;
}
.previousBtn:hover{
  color:grey;
  cursor: pointer;
  outline: none;
}
.nextBtn{
  float: right;
  margin-right: 10%;
  font-size: 25px;
}
.nextBtn:hover{
  color: grey;
  cursor: pointer;
  outline: none;
}
.viewTrades{
  font-size: 20px;
  margin-left: 10%;
}
.viewTrades:hover{
  color: grey;
  cursor: pointer;
  outline: none;
}
.myBooks{
  float:right;
  font-size: 20px;
  margin-right: 10%;
}
.myBooks:hover{
    color: grey;
  cursor: pointer;
  outline: none;
}
 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

